<div class="prompt-draw" id="prompt-draw">
    <h1 id="prompt">Draw: {{prompt}}</h1>
    <div class="drawing-element-container">
        <div class="right-section">
            <p>Colors</p>

            <div class="select-colors">
                <button type="button" class="select-white" id="white"></button>
                <button type="button" class="select-black" id="black"></button>
                <button type="button" class="select-gray" id="gray"></button>
                <button type="button" class="select-brown" id="brown"></button>
                <button type="button" class="select-red" id="red"></button>
                <button type="button" class="select-orange" id="orange"></button>
                <button type="button" class="select-yellow" id="yellow"></button>
                <button type="button" class="select-green" id="green"></button>
                <button type="button" class="select-blue" id="blue"></button>
                <button type="button" class="select-purple" id="purple"></button>
            </div>
        </div>

        <div class="canvas-element">
            <canvas id="canvas">
                Your browser does not support the HTML canvas element.
            </canvas>
        </div>

        <div class="left-section">
            <div class="drawing-tools">
                <button type="button" class="select-pen" id="pen">Pen</button>
                <button type="button" class="select-eraser" id="eraser">Eraser</button>

                <div class="stroke-width">
                    Stroke Width:
                    <input class="select-stroke-width" id="stroke-width-input" type="number" min="1" max="10" value="3" />
                    {{!-- <button type="button" class="select-stroke-width" id="increase-stroke-width">-</button>
                    <button type="button" class="select-stroke-width" id="decrease-stroke-width">+</button> --}}
                </div>

                <button type="button" class="select-clear">Clear</button>

                
                
            </div>
            <button type="button" class="submit-drawing" id="submit-drawing">Submit</button>
        </div>
    </div>
</div> 

<div class="wait-screen" id="wait-screen">
    <h3>Waiting on other players to finish</h3>
    <h3>. . .</h3>
</div>