
    <div class="prompt-draw" id="prompt-draw">
        <h1 id="prompt">{{prompt}}</h1>
        <div class="drawing-element-container">
            <div class="left-section">
                <div class="drawing-tools">
                    <button type="button" class="select-pen" id="pen">Pen</button>
                    <button type="button" class="select-eraser" id="eraser">Eraser</button>
                    <button type="button" class="select-clear">Clear</button>

                    <div class="select-colors">
                        <button type="button" class="select-white" id="white"></button>
                        <button type="button" class="select-black" id="black"></button>
                        <button type="button" class="select-red" id="red"></button>
                        <button type="button" class="select-blue" id="blue"></button>
                        <button type="button" class="select-green" id="green"></button>
                        <button type="button" class="select-yellow" id="yellow"></button>
                    </div>
                    
                </div>
                <button type="button" class="submit-drawing" id="submit-drawing">Submit</button>
            </div>
            <div class="canvas-element">
                <canvas id="canvas">
                    Your browser does not support the HTML canvas element.
                </canvas>
            </div>
            <p>Instructions Here</p>
        </div>
    </div> 
