<div class="home-page" id="home-page">
    <div class="home-element">
        <input type="text" name="username-text" id="username-text" class="username-input">
        <button type="button" class="play-button" id="play-button">Play</button>
    </div>
</div>