<div class="home-page" id="home-page">
    <h2>DePICtion</h2>
    <div class="username-input-element">
        <input type="text" name="username-text" id="username-text" class="username-input" placeholder="Enter Username">
        <button type="button" class="play-button" id="play-button">Play</button>
    </div>
</div>