<div class="home-page" id="lobby-page">
    <h2>Game Lobby</h2>
    <h1 id="counter">Players Connected</h1>
    <button type="button" class="play-button" id="start-game-button">Start Game</button>
</div>