<div class="results-page">
    {{#if previous}}
        <button class="results-button" id="previous">Previous</button>
    {{else}}
        <div class="empty-button"></div>
    {{/if}}
    <div class="results-content">
        <div class="results-header">
            <h3>{{username}}'s Results</h3>
            <h1>Starting prompt: {{firstPrompt}}</h1>
        </div>
        <div class="results">
            {{#each results}}
                {{> resultCard}}
            {{/each}}
        </div>
    </div>
    {{#if next}}
        <button class="results-button" id="next">Next</button>
    {{else}}
        <button class="results-button" id="back-to-lobby">Back to Lobby</button>
    {{/if}}
</div>

<div class="wait-screen" id="wait-screen">
    <h3>Waiting on other players</h3>
    <h3>. . .</h3>
</div>