<div class="prompt-entry" id="prompt-entry">
    <h1>Enter a prompt:</h1>
    <div class="prompt-input-element">
        <input type="text" name="prompt-text" id="prompt-text" class="prompt-input">
        <button type="button" class="submit-prompt" id="submit-prompt">Submit</button>
    </div>
    <p>Instructions Here</p>
</div>