<div class="prompt-entry" id="prompt-entry">
    {{#if firstPost}}
        <h3>Enter a prompt:</h3>
    {{else}}
        <h3>Describe the image:</h3>
    {{/if}}
    <div class="prompt-input-element">
        <input type="text" name="prompt-text" id="prompt-text" class="prompt-input">
        <button type="button" class="submit-prompt" id="submit-prompt">Submit</button>
    </div>
    <img src="{{imgURL}}">
</div>

<div class="wait-screen" id="wait-screen">
    <h3>Waiting on other players to finish</h3>
    <h3>. . .</h3>
</div>